<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Custom Search Engine (CSE) in Node.js with Google APIs">
  <meta name="keywords" content="cse, googleapis, node.js, custom search engine, google api, heroku, herokuapp">

  <title><%= title %></title>

  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  
  <link href="//fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/loader.css">
  <link rel='stylesheet' href="/stylesheets/style.css">
</head>

<body>
  

  
  <div class="wrap-search">
    
    <input type="text" placeholder="Input your key search here..." id="input-search">
    <img src="/images/search.png" alt="Search" class="search" id="img-search">
    <img src="/images/close.png" alt="Close" class="close" id="img-close">
    
    
  </div>




  <a href="/" ><img src="/images/cse.png" alt="" class="logo" id="logo-outside"></a>
  <!-- <div class="wrap-recommend"> -->
    <!-- <p class="hotlink">Link hot: <a href="/" class="title" id="searchkey">nhac giang sinh VN - Fshare - Fshare</a> | <a href="/" class="title" id="searchkey">CAM LY VIDEO KARAOKE - Fshare - Fshare</a> | <a href="/" class="title" id="searchkey">One Piece - Vua bong da.mkv - Fshare</a> </p> -->

    
  <!-- </div> -->

  
  <div class="wrap-recommend">


       

        <ul id="recommend">
          <!-- <li class="total">Top 10 Link </li> -->
          <!-- <%var i_link = 0;%>
            <%for (var result in toplink){i_link++;%>
              
              <li class="item">#<%= i_link %>  
                      <a href="#" onclick="getLink('nokeysearch','<%=toplink[result][0]%>','<%=toplink[result][2]%>')" class="title" id="vegar"><%=toplink[result][2]%></a>
             </li>   
              <%}%> -->
            </ul>
          

            

      
  </div> 







  <div class="wrap-content">
    <ul id="results" />
  </div>

  
  <div class="wrap-recommendkey">

    <ul id="recommendkey">
      <!-- <li class="total">Top 10 Key </li> -->
      <!-- <%var i_key = 0;%>
        <%for (var result in topkey){i_key++;%>
          
          <li class="item">#<%= i_key %>  
                  <a href="#" onclick="topkey1('<%=topkey[result][0]%>')"  class="title" id="vegar"><%=topkey[result][0]%></a>
         </li>   
          <%}%> --></ul>
       
          

            

      
  </div> 




  <div class="page" id="pagination">
    <button class="prev" id="btn-prev">Previous</button>
    <button class="next" id="btn-next">Next</button>
  </div>
  
  <div id="loader" style="color: #eb1a58" class="la-ball-climbing-dot la-3x loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <img src="/images/cse.png" alt="Fshare Search" class="cse" id="img-cse">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/main.js"></script>
  
</body>
</html>
